.navbar-brand {
    font-weight: bold;
    font-size: 50px;
}

.homepageimage {
    width: 50%;
    
    float: left;
    padding: 0 20px 20px 0;

}
.navbar li {
	display:inline-block;
	float:right;
}

@media(min-width: 480px) {
.siderbar {
	float:right;
}


.image {
width: 90%;
align: center;
}